/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */

body {
  font-family: sans-serif;
  color: #222;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0 0 0.35em;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 15px;
}

p {
  margin: 0 0 1.15em;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
}

header {
  background-color: #f76c6c;
  color: #fff;
}

footer {
  border-top: 2px solid #f76c6c;
}
